*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;

}

.parent{
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color:teal;
    
}

.sidebarpos{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.img{
    text-align: center;
}
.img img{
    
    width: 70%;
    max-width: 100%;
    border: 4px solid #b9dada;
    border-radius: 50%;
}

.menu{
     margin: 40px 0;
     text-align: center;
     position:relative;
     left: -5px;
    
}

.menu a {
    color: white;
    opacity: 0.4;
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    
}

.menu a.selected{
    opacity: 1;
}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}

section.descricao{
    position:relative;
    top:50%;
    transform: translateY(-50%);

}

section.descricao h2{
    color: #343a40;
    font-size: 46px;

}

section.decricao h2 >span{
    
}

section.descricao h3{
    margin:1px;
    color: #6c757d;
    font-size: 26px;

}

section.descricao p{
    color: #6c757d;
    font-size: 20px;
    margin-top:20px;
}